/* Split style override (layout only) */
.modules-left,
.modules-center,
.modules-right {
  margin-top: 2px;
  margin-bottom: 2px;
}
#window {
  margin-left: 10px;
  margin-right: 10px;
}
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-power,
#mpd,
#language,
#keyboard-state {
  border-radius: 6px;
  padding: 0 8px;
}
