/* Windows style override (layout only) */
window#waybar {
  min-height: 30px;
}
#workspaces button {
  border-radius: 3px;
  padding: 0 8px;
}
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-power,
#mpd,
#language,
#keyboard-state {
  border-radius: 3px;
  padding: 0 8px;
}
